{{ $baseurl := .Site.BaseURL }} <!-- {{ $baseurl }} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ $baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="{{ $baseurl }}/css/{{ lower .Site.Params.color }}.css">
    <link rel="stylesheet" href="{{ $baseurl }}/css/brands.css">
    <link rel="icon" type="image/png" href="{{ $baseurl }}/{{ .Site.Params.avatar }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column x-mt">
                <img src="{{ $baseurl }}/{{ .Site.Params.avatar }}" srcSet="{{ $baseurl }}/{{ .Site.Params.avatar2x }}" alt="{{ .Site.Title }} Logo">
                <h1>{{ .Site.Title }}</h1>
                <p>{{ .Site.Params.bio }}</p>
                {{ range sort .Site.Params.social "name" }}
                    <a class="button button-{{ .button }}" href="{{ .url }}" target="_blank" rel="noopener">
                        <img class="icon" src="{{ $baseurl }}/images/icons/{{ .name }}.svg" alt="{{ .title }} Logo">{{ .title }}
                    </a>
                {{ end }}
          <br>
            </div>
        </div>
    </div>
</body>
</html>